body{
    font-family:Comic Sans MS;

}

#intro{
    text-align:center;
    width:100%;
    height:400px;
    background-size:100% 100%;

}
#intro h2{
    color:black;
    font-size:50px;
    padding-top:150px;
}

 #copyright{
     text-align:center;
     width:100%;
     height:200px;
     background-size:100% 100%;
}


#intro p{
    color:black;
    font-size:17px;
    text-indent:2em;
}
#hty{
    margin-top:100px;
}
#hty ul{
    list-style-type: none;
}
.wrap{
    width:100%;
    text-align:center;
}
.wrap h3 {
    display: inline-block;
    font-family: "微软雅黑 Light";
    font-size: 30px;
    color: #1F1C2D;
    border-bottom: 8px solid skyblue;
}





